<%= simple_form_for(@student, html: { class: 'form-horizontal' }) do |f| %>
       
    <div class="row">
      <div class="small-6 columns">
        <h3><%= controller.action_name.capitalize %> Student</h3>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :family_id, collection: Family.active.alphabetical.map{|f| [f.family_name, f.id]}, prompt: "Select family..."  %>
        <% if !@student.date_of_birth.nil? %>
          <%= f.input :date_of_birth,  as: :string, input_html: { class: 'datepicker', :value => @student.date_of_birth.strftime('%m/%d/%Y') } %>
          <% else %>
          <%= f.input :date_of_birth,  as: :string, input_html: { class: 'datepicker' } %>
        <% end %>
        <%= f.input :rating %>
        <%= f.input :active %>
      </div>
      <div class="small-1 columns">&nbsp;</div>
      <div class="small-5 columns">

      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
      <%= link_to 'Back to list of students', students_path, :class => 'button secondary radius' %>
    </div>

<% end %>