<h3>Student Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @student.proper_name %><br /><br />

<strong>Age:&nbsp;&nbsp;</strong> 
  <%= @student.age %><br /><br />
  <%= @student.date_of_birth.strftime('%m/%d/%Y') %> <br /><br />

<strong>Rating:&nbsp;&nbsp;</strong> 
  <%= @student.rating == 0 ? "Unrated" : @student.rating %><br /><br />

<strong>Active:&nbsp;&nbsp;</strong> 
  <%= @student.active ? "Yes" : "No" %><br /><br />

<strong>Camp:&nbsp;&nbsp;</strong> 
  <% @student.camps.each do |s| %>
  <%= s.name %>: <%= s.start_date.strftime('%m/%d/%y') %><br />

  <% end %>

  <br /><br />

<%= link_to "Edit this student", edit_student_path(@student), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Destroy student', student_path(@student), data: { confirm: 'Are you sure you want to permanently remove this student from the system?' }, method: :delete, class: "button tiny radius alert" %>