<h3><%= status %> Students</h3>

<table class="table">
  <tr>
    <th width="200">Name</th>
    <th width="200">Age</th>
    <th width="100">Rating</th>
    <th></th>
    <th></th>
  </tr>

<% @active_students.each do |student| %>
  <tr>
    <td><%= link_to student.name, student_path(student) %></td>
    <td align="center"><%= student.age %></td>
    <td align="center"><%= student.rating == 0 ? "Unrated" : student.rating %></td>
    <td><%= link_to 'Edit', edit_student_path(student), class: "button tiny radius" %></td>
  </tr>
<% end %>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @active_students, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>