<h3>Camp Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= link_to @camp.name, curriculum_path(@camp.curriculum) %><br /><br />

<strong>Rating:&nbsp;&nbsp;</strong> 
  <%= @camp.curriculum.min_rating.zero? ? "Unrated" : @camp.curriculum.min_rating %> - <%= @camp.curriculum.max_rating %><br /><br />

<strong>Registrations</strong> 
  <%= "(#{@camp.registrations.size})" %><br /><br />

<strong>Students:&nbsp;&nbsp;</strong> 
  <table>
    <tr>
      <th>Student Name</th>
      <th>Rating</th>
    </tr>
    <% @camp.students.alphabetical.each do |c| %>
    <tr>
      <td><%= link_to c.name, student_path(c) %></td>
      <td><%= c.rating %></td>
    </tr>
    <% end %>
  </table>
  <br /><br />

<strong>Cost:&nbsp;&nbsp;</strong> 
  <%= number_to_currency(@camp.cost) %><br /><br />

<strong>Max Students:&nbsp;&nbsp;</strong> 
  <%= @camp.max_students %><br /><br />

<strong>Dates:&nbsp;&nbsp;</strong> 
  <%= @camp.start_date.strftime('%m/%d/%y') %> 
  <% if @camp.start_date != @camp.end_date %>
    <%= "- #{@camp.end_date.strftime('%m/%d/%y')}" %>
  <% end %>
  <br /><br />

<strong>Time:&nbsp;&nbsp;</strong> 
  <%= @camp.time_slot == "am" ? "Morning" : "Afternoon" %><br /><br />

<strong>Active?&nbsp;&nbsp;</strong>
  <%= @camp.active ? "Yes" : "No" %><br /><br />

<strong>Location&nbsp;&nbsp;</strong>
<%= image_tag @camp.create_map_link %><br /><br />



<%= link_to "Edit this camp", edit_camp_path(@camp), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Back to list of camps', camps_path, :class => 'button tiny radius' %>&nbsp;&nbsp;
<%= link_to "Destroy", @camp, confirm: 'Are you sure?', method: :delete, class: "button tiny radius alert" %>