<h3>Family Details</h3><br />
<strong>Family Name:&nbsp;&nbsp;</strong> 
  <%= @family.family_name %><br /><br />

<strong>Parent First Name:&nbsp;&nbsp;</strong>
  <%= @family.parent_first_name %><br /><br />

<strong>Email:&nbsp;&nbsp;</strong> 
  <%= @family.email %><br /><br />

 <strong>Phone:&nbsp;&nbsp;</strong>
  <%= number_to_phone @family.phone %><br /><br />

<strong>Active?&nbsp;&nbsp;</strong>
  <%= @family.active ? "Yes" : "No" %><br /><br />

<%= link_to "Edit this family", edit_family_path(@family), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Back to list of families', families_path, :class => 'button tiny radius' %>