<h3>Families</h3>

<% if not @families.empty? %>
<table class="table">
  <tr>
    <th width="110">Family Name</th>
    <th width="90">Parent</th>
    <th width="50">Year</th>

  </tr>

  <% @families.each do |family| %>
    <% years = Array.new %>
    <% all_students = family.students %>
    <% all_students.each do |stu| %>
      <% all_registrations = stu.registrations %>
      <% all_registrations.each do |reg| %>
        <% if not years.include?(reg.camp.start_date.year) %>
          <% years << reg.camp.start_date.year %>
          <tr>
            <td><%= family.family_name %></td>
            <td align="center"><%= family.parent_first_name %></td>
            <td><%= reg.camp.start_date.year %></td>
            <td><%= link_to 'Report', report_family_path(reg), class: "button tiny radius" %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    
  <% end %>
  </table>
  <!-- Add the pagination using will_paginate gem -->
  <span class="paginate">
  <%= will_paginate @families, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </span>

<% else %>
  <p>No Families</p>
<% end %>