<h3>Active Locations</h3>

<% if not @active_locations.empty? %>
<table class="table">
  <tr>
    <th width="200">Name</th>
    <th width="200">Address</th>
    <th width="200">Capacity</th>
    <th></th>
    <th></th>
  </tr>


  <% @active_locations.each do |location| %>
    <tr>
      <td><%= link_to location.name, location_path(location) %></td>
      <td align="center"><%= location.name %></td>
      <td align="center"><%= location.street_1 %></td>
      <td align="center"><%= location.max_capacity %></td>
      <td><%= link_to 'Edit', edit_location_path(location), class: "button tiny radius" %></td>
    </tr>
  <% end %>
  </table>
  <!-- Add the pagination using will_paginate gem -->
  <span class="paginate">
  <%= will_paginate @active_locations, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  </span>
<% else %>
  <p>No active locations</p>
<% end %>