<%= simple_form_for(@location, html: { class: 'form-horizontal' }) do |f| %>
   
   <h3><%= controller.action_name.capitalize %> Locations</h3>
    
    <%= f.input :name %>
    <%= f.input :street_1 %>
    <%= f.input :street_2 %>
    <%= f.input :city %>
    <%= f.input :state, :collection => Location::STATES_LIST %>
    <%= f.input :zip %>
    <%= f.input :max_capacity %>
    <%= f.input :active %>

    <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
      <%= link_to 'Back to list of locations', locations_path, :class => 'button secondary radius' %>
    </div>

<% end %>