<h3>Location Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @location.name %><br /><br />

<strong>Address:&nbsp;&nbsp;</strong> 
  <%= @location.street_1 %><br /><br />
  <%= @location.street_2 %><br /><br />
  <%= @location.city %>, 
  <%= @location.state %>
  <%= @location.zip %><br /><br />

<strong>Maximum Capacity:&nbsp;&nbsp;</strong> 
  <%= @location.max_capacity %><br /><br />

<strong>Map:&nbsp;&nbsp;</strong> 
<%= image_tag @location.create_map_link %>
  <br /><br />

<%= link_to "Edit this location", edit_location_path(@location), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Back to list of locations', locations_path, :class => 'button tiny radius' %> &nbsp;&nbsp;
<%= link_to "Destroy", @location, confirm: 'Are you sure?', method: :delete, class: "button tiny radius alert" %>