<h3>Location Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @location.name %><br /><br />

<strong>Address:&nbsp;&nbsp;</strong> 
  <%= @location.street_1 %><br /><br />
  <%= @location.street_2 %><br /><br />
  <%= @location.city %>, 
  <%= @location.state %>
  <%= @location.zip %>

<strong>Map:&nbsp;&nbsp;</strong> 
  <br /><br />

<strong>Maximum Capacity:&nbsp;&nbsp;</strong> 
  <%= @location.max_capacity %><br /><br />


<%= link_to "Edit this location", edit_location_path(@location), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Destroy location', location_path(@location), data: { confirm: 'Are you sure you want to permanently remove this location from the system?' }, method: :delete, class: "button tiny radius alert" %>